body {
  margin: 0;
  padding: 0;
  font-family: "Averta-Light" !important;
  color: #4F4F4F;
  font-size: 1.125rem;
}

a {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Averta-Bold";
}

.orange-text {
  color: #FEB026;
}

.orange-bg {
  background-color: #FEB026;
}

.green-text {
  color: #03A84E !important;
}

.green-bg {
  background-color: #03A84E;
}

button {
  background-color: #03A84E;
  box-shadow: 11px 11px 2px #ffefd4;
}

footer button {
  box-shadow: 11px 11px 2px #716247;
}

.blue-bg {
  background-color: #f2fbf6;
}

footer {
  background: url("../images/Group\ 24.png");
  background-color: #000000;
}

// .h-76{
//   // height: 410px;
// }
.sample:hover {
  transition: all .2s ease-in-out;
}

.sample:hover:hover {
  transform: scale(1.05);
}

.border-img {
  border-radius: 85px 85px 0px 0px;
}

.testimony {
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 0);
  // margin: 0;
  bottom: -95px;
}

.p-tag {
  height: 130px;
}

.test-contain div:nth-of-type(2) {
  // className="bg-blue-500 text-white" 
  color: white;
  background-color: #FEB026;
  transform: scale(1.05);
}

section.sample:hover {
  background-color: #FEB026;
}

#testimonials button{
  box-shadow: none;
  outline: none;
  border: none;
  &:focus{
    border: 0px !important;
  }
}

.carousel-dots li button:before{
  color: #f49c00 !important;

}
button:focus {
  border: 2px solid #feb02680 !important;
  /* box-shadow: 0 0 1px 3px #feb02680 !important; */
  outline: none;
}

.active-popular {
  background-color: #03A84E;
  color: white;
}

.viewMore {
  bottom: -3rem;
  right: -3rem;
}

.product {
  height: 200px;
  width: 300px;
  object-fit: contain;
}

.desc {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

@media (max-width: 768px) {
  .border-img {
    border-radius: 0px;
  }
  .rec.rec-arrow {
    width: 30px;
    height: 30px;
    min-width: 30px;
    line-height: 30px;
    font-size: 1.2rem;
  }
  .testimony {
    bottom: 0;
    top: 89%;
  }
}