body {
  margin: 0;
  padding: 0;
  font-family: "Averta-Light" !important;
  color: #4F4F4F;
  font-size: 1.125rem;
}

a {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Averta-Bold";
}

.orange-text {
  color: #FEB026;
}

.orange-bg {
  background-color: #FEB026;
}

.green-text {
  color: #03A84E !important;
}

.green-bg {
  background-color: #03A84E;
}

button {
  background-color: #03A84E;
  box-shadow: 11px 11px 2px #ffefd4;
}

footer button {
  box-shadow: 11px 11px 2px #716247;
}

.blue-bg {
  background-color: #f2fbf6;
}

footer {
  background: url("../images/Group\ 24.png");
  background-color: #000000;
}

// .h-76{
//   // height: 410px;
// }
.sample:hover {
  transition: all .2s ease-in-out;
}

.sample:hover:hover {
  transform: scale(1.05);
}

.border-img {
  border-radius: 85px 85px 0px 0px;
}

.testimony {
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 0);
  // margin: 0;
  bottom: -95px;
}

.p-tag {
  height: 130px;
}

.test-contain div:nth-of-type(2) {
  // className="bg-blue-500 text-white" 
  color: white;
  background-color: #FEB026;
  transform: scale(1.05);
}
section.sample:hover{
  background-color: #FEB026;
}

.rec-carousel-item:focus {
  outline: none;
  box-shadow: inset 0 0 1px 0px violet;
}
.chowzb:hover:enabled, .chowzb:focus:enabled {
  background-color: #FEB026 !important;
}
.ikyGAt:hover, .ikyGAt:focus {
  box-shadow: 0 0 1px 3px #FEB026 !important;
}
.brcpxa {
  background-color: #FEB026 !important;
  box-shadow: 0 0 1px 3px #feb02680 !important;
}
button:focus{
  outline: none !important;
  box-shadow: 0 0 1px 3px #feb02680 !important;
}
@media (max-width: 768px) {
  .border-img {
    border-radius: 0px;
  }
}